In [16]:
import pandas as pd

In [17]:
# Presidential Results URL:  https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/VOQCHQ

results_df = pd.read_csv('./Presidential_results_2000_2020.csv')

results_df2 = results_df[['year','state','state_po','county_name','candidate','party','candidatevotes','totalvotes']]

results_df2.head(10)

,year,state,state_po,county_name,candidate,party,candidatevotes,totalvotes
0,2000,ALABAMA,AL,AUTAUGA,AL GORE,DEMOCRAT,4942,17208
1,2000,ALABAMA,AL,AUTAUGA,GEORGE W. BUSH,REPUBLICAN,11993,17208
2,2000,ALABAMA,AL,AUTAUGA,RALPH NADER,GREEN,160,17208
3,2000,ALABAMA,AL,AUTAUGA,OTHER,OTHER,113,17208
4,2000,ALABAMA,AL,BALDWIN,AL GORE,DEMOCRAT,13997,56480
5,2000,ALABAMA,AL,BALDWIN,GEORGE W. BUSH,REPUBLICAN,40872,56480
6,2000,ALABAMA,AL,BALDWIN,RALPH NADER,GREEN,1033,56480
7,2000,ALABAMA,AL,BALDWIN,OTHER,OTHER,578,56480
8,2000,ALABAMA,AL,BARBOUR,AL GORE,DEMOCRAT,5188,10395
9,2000,ALABAMA,AL,BARBOUR,GEORGE W. BUSH,REPUBLICAN,5096,10395

In [23]:
#find the winner in each county
idx = results_df2.groupby(['year','state','state_po','county_name'])['candidatevotes'].idxmax()
winner_pd = results_df2.loc[idx]

winner_pd.head(5)

,year,state,state_po,county_name,candidate,party,candidatevotes,totalvotes
1,2000,ALABAMA,AL,AUTAUGA,GEORGE W. BUSH,REPUBLICAN,11993,17208
5,2000,ALABAMA,AL,BALDWIN,GEORGE W. BUSH,REPUBLICAN,40872,56480
8,2000,ALABAMA,AL,BARBOUR,AL GORE,DEMOCRAT,5188,10395
13,2000,ALABAMA,AL,BIBB,GEORGE W. BUSH,REPUBLICAN,4273,7101
17,2000,ALABAMA,AL,BLOUNT,GEORGE W. BUSH,REPUBLICAN,12667,17973

In [30]:
#limit to california

winner_ca_pd = winner_pd.loc[(winner_pd.state_po == 'CA')]
winner_ca_pd['pcttotal'] = (winner_ca_pd.candidatevotes/winner_ca_pd.totalvotes*100)
winner_ca_pd.head(10)

C:\Users\natha\AppData\Local\Temp\ipykernel_46580\355806551.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winner_ca_pd['pcttotal'] = (winner_ca_pd.candidatevotes/winner_ca_pd.totalvotes*100)

,year,state,state_po,county_name,candidate,party,candidatevotes,totalvotes,pcttotal
628,2000,CALIFORNIA,CA,ALAMEDA,AL GORE,DEMOCRAT,342889,494336,69.363550
633,2000,CALIFORNIA,CA,ALPINE,GEORGE W. BUSH,REPUBLICAN,281,586,47.952218
637,2000,CALIFORNIA,CA,AMADOR,GEORGE W. BUSH,REPUBLICAN,8766,15464,56.686498
641,2000,CALIFORNIA,CA,BUTTE,GEORGE W. BUSH,REPUBLICAN,45584,83721,54.447510
645,2000,CALIFORNIA,CA,CALAVERAS,GEORGE W. BUSH,REPUBLICAN,10599,18876,56.150668
649,2000,CALIFORNIA,CA,COLUSA,GEORGE W. BUSH,REPUBLICAN,3629,5590,64.919499
652,2000,CALIFORNIA,CA,CONTRA COSTA,AL GORE,DEMOCRAT,224338,381478,58.807585
657,2000,CALIFORNIA,CA,DEL NORTE,GEORGE W. BUSH,REPUBLICAN,4526,8294,54.569568
661,2000,CALIFORNIA,CA,EL DORADO,GEORGE W. BUSH,REPUBLICAN,42045,72136,58.285738
665,2000,CALIFORNIA,CA,FRESNO,GEORGE W. BUSH,REPUBLICAN,117342,220835,53.135599

In [ ]:
#####JONAH BELOW HERE

In [ ]:
#####MERGE TWO DATAFRAMES ON COUNTY

In [24]:
# creates the json object needed for state/county/year
winner_pd.to_json('presidential_results.json', orient='records', lines=True)